/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: "Verdana";
}

body {
  background: linear-gradient(180deg, rgb(0, 94, 255) 0%,#62e2ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hide {
  display: none !important;
}

.container {
  background-color:linear-gradient(180deg, rgb(0, 94, 255) 0%, #62e2ff 100%);
  padding: 2rem;
  color: #ffffff;
  width: 2000px;
}

/* Form */
.form h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-input-container {
  display: flex;
}

.form input {
  padding: 0.7rem;
  border-radius: 2px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: 5px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-right: auto;
  background-color: #0502b6;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

/* Clima */
#weather-data,
#error-message,
#loader,
#suggestions {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

#weather-data h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#weather-data h2 i {
  font-size: 1rem;
}

#weather-data span {
  margin: 0.6rem;
}

#temperature {
  font-size: 4rem;
}

#country {
  height: 15px;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
}

#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #umidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}

/* Loader */
#loader i {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Sugestões */
#suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#suggestions button {
  min-width: 150px;
  margin: 0.8rem;
  padding: 0.6rem 0.9rem;
  border-radius: 1rem;
  border: none;
  background-color: #0008f6;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: normal;
  opacity: 0.8;
  transition: 0.4s;
}

#suggestions button:hover {
  opacity: 1;
}
